<!doctype html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="theme-color" content="#000">

  <link rel="profile" href="https://gmpg.org/xfn/11">
  <link rel="author" href="{{ theme.link }}/humans.txt">
  <link rel="pingback" href="{{ site.pingback_url }}">

  {% do action ('theme_styles') %}
  {% do action ('theme_scripts') %}
  {{ function('wp_head') }}
</head>
<body class="{{ body_class }}" data-template="base.twig">
  <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

  <div class="page">
    {% include 'header.twig' %}

    <main id="content" class="main">
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}

      <div class="{{ sidebar_class }}">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </div>

      {% if sidebar %}
        <aside>
          {{ sidebar }}
        </aside>
      {% endif %}
    </main>

    {% include 'footer.twig' %}
  </div>

  {{ function('wp_footer') }}
</body>
</html>
